
.social-container{
  margin-top:  auto;
} 

li {
  list-style-type: none;
}

.userInput{
  font-size: 13px;
}

.form-item input{
  display: center;
  margin: .9vw 0 ;
  border: 1px;
  border-radius: 5px;
  font-size: 13px;
}

.form-item {
  background: whitesmoke;
  border-radius: 5px;
}


.form-box textarea{
  height: 5h;
}

/* Social Follow Stuff */

a.social{
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-3px);
}

a.gitHub{
  color: black;
}

a.react{
  color: blue
}

a.node{
  color: rgb(104, 160, 99);
}

a.google{
  color: whitesmoke;
}