* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 90%;
  margin: 30px auto;
  overflow: auto;
  padding: 5px;
  border-radius: 5px;
}

.bars-maps {
  max-width: 100%;
  display: grid;
  grid-template-columns: 65% 35%;
  column-gap: 10px;
  margin: 5px 0px;
  overflow: hidden;
}

.scroller {
  margin: 0 auto;
  height: 600px;
  width: 100%;
  overflow: auto;
}

.bars-list-item {
  margin: 30px 0;
}

/* .map {
  max-width: 600px;
  margin: 30px auto;
  overflow: auto;
  min-height: 400px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
} */

.bars-list {
  max-width: 100%;
  margin: 0px 10px;
  overflow: auto;
  border-radius: 5px;
}

.bar {
  background: #f4f4f4;
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px grey;
  margin-bottom:20px;
  margin-right:20px;
}

.bar-card-title {
  color: orange;
  text-shadow: 2px 2px 4px white;;
  font-size: 25px;
  margin-top:-30px;
  margin-bottom:-20px;
}

.bar-card-info{
  line-height: 20%;
}

.bar-card-image {
  border: 5px solid white
}

.bar-card-address {
  line-height: 100%;
}

.direction-button {
  background-color: #1976d2;
  color: white;
  text-decoration: none;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
}

.direction-button:hover {
  background-color: white;
  color: #1976d2;
  border: 1px solid #1976d2;
  text-decoration: none;
}
